<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufrpe.bsi.mpoo.petSpeed">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".infra.app.PetSpeedApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".cliente.gui.MudarSenhaAcitivity"></activity>
        <activity android:name=".cliente.gui.EditDadosClienteActivity" />
        <activity android:name=".cliente.gui.MeusPetsActivity" />
        <activity
            android:name=".cliente.gui.AnimalClienteActivity"
            android:label="@string/title_activity_animal_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".cliente.gui.PerfilClienteActivity" />
        <activity
            android:name=".cliente.gui.HomeClienteActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".medico.gui.HomeMedicoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".medico.gui.CadastroMedicoActivity" />
        <activity android:name=".animal.gui.CrudAnimalActivity" />
        <activity android:name=".infra.gui.MainActivity" />
        <activity android:name=".infra.gui.LoginActivity" />
        <activity android:name=".infra.gui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".infra.gui.FinalizaCadastroActivity" />
        <activity
            android:name=".pessoa.gui.CadastroEnderecoActivity"
            android:label="endereco" />
        <activity android:name=".cliente.gui.CadastroClienteActivity" />
    </application>

</manifest>