<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufrpe.bsi.mpoo.petSpeed">

    <application
        android:name=".infra.app.PetSpeedApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".medico.gui.HomeMedicoActivity"></activity>
        <activity
            android:name=".ui.login.LoginActivityas"
            android:label="@string/title_activity_login_activityas" />
        <activity android:name=".medico.gui.CadastroMedicoActivity" />
        <activity android:name=".animal.gui.CrudAnimalActivity" />
        <activity android:name=".infra.gui.MainActivity" />
        <activity android:name=".infra.gui.LoginActivity" />
        <activity android:name=".infra.gui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".infra.gui.FinalizaCadastroActivity" />
        <activity
            android:name=".pessoa.gui.CadastroEnderecoActivity"
            android:label="endereco" />
        <activity android:name=".cliente.gui.CadastroClienteActivity" />
    </application>

</manifest>